/* COMMON & RESET */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

input {
  width: 202px;
  height: 6px;
  -webkit-appearance: none;
  background: #C4C4C4;
  border-radius: 3px;
}

input::-webkit-slider-thumb { 
  -webkit-appearance: none;
  background: #FF5F00;
  cursor: pointer;
  width: 4px;
  height: 17px;  
  margin-top: -3px; 
  border-radius: 2px;
}

input::-ms-fill-lower {
  background-color: #FFDB4C;
}

.close-btn {
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 13px;
  color: #000;
}

h2 {
  position: absolute;
  top: 33px;
  left: 30px;
  font-size: 24px;
  color: #000;
}

/* MAIN */

main {
  width: 375px;
  height: 756px;
  background-color: #EEEBE5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 12px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-slide:nth-child(2) {

}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 27px 33px 21px;
}

header .header_profile {
  width: fit-content;
}

header .header_profile img {
  border-radius: 50%;
}

header .header_title {
  font-size: 18px;
}

header .header_icon {
  width: 66px;
  display: flex;
  justify-content: space-between;
}

header .header_icon .qr {

}

header .header_icon .qr img {

}

header .header_icon .search {

}

header .header_icon .search img {

}


/* ACCOUNT */

.account {
  font-size: 14px;
}

.account .account_list {
  background-color: #fff;
  width: 279px;
  height: 155px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0 48px 24px;
}

.account .account_list .account_id {
  display: flex;
  padding-top: 14px;
  justify-content: center;
}

.account .account_list .account_id .account_number {
  width: 135.51px;
  height: 21px;
  text-align: center;
  color: #858585;
}

.account .account_list .account_id .account_btn {
  position: absolute;
  right: 0;
  margin-right: 17px;
}

.account .account_list .account_money {
  text-align: center;
  margin: 16px 0;
}

.account .account_list .account_money .money {
  font-size: 24px;
}

.account .account_list .account_money span {

}

.account .account_list .account_stats {
  display: flex;
  align-items: center;
  margin: 0 14px 0 32px;
}

.account .account_list .account_stats .account_stats-btn {
  position: absolute;
  right: 0;
  margin-right: 14px;
}

.account .account_list .account_msg {
  color: #858585;
  text-align: center;
  margin-top: 8px;
}

.account .account_banner {
  margin-left: 43px;
  font-size: 14px;
}

.account .account_banner a {
  margin: 6px;
  text-decoration: underline;
}


/* HISTORY */

.history {
  width: 375px;
  height: 383px;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 76px;
  border-radius: 30px 30px 0 0 ;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
}

.history .history_detail-bar {
  position: absolute;
  top: 4.3px;
  left: 162px;
  width: 48px;
  height: 2.15px;
  background: #C4C4C4;
  border-radius: 4px;
}

.history .history_sliderlist {
  width: 308px;
  height: 49px;
  display: flex;
  overflow: scroll;
  margin: 23px 37px 16px 30px;
}

.history .history_sliderlist::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.history .history_sliderlist .histroy_sliderlist-item {
  width: 162px;
  height: 47px;
  border-radius: 6px;
  background-color: #DADADA;
  font-size: 12px;
  color: #fff;
  margin-right: 13px;
  padding: 5px 0 7px 13px;
  flex: 0 0 auto; 
}

.history .history_sliderlist .histroy_sliderlist-item:nth-child(1) {
  background: linear-gradient(90deg, #FF5F00 97px, #DADADA 65px);
}

.history .history_sliderlist .histroy_sliderlist-item:nth-child(2) {
  background: linear-gradient(90deg, #FEB700 121px, #DADADA 41px);
}

.history .history_sliderlist .history_sliderlist-btn {
  width: 100px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #FF5F00;
  flex: 0 0 auto;
}

.history .history_detail {
  width: 302px;
  margin: 0px 37px 38px 36px;
}

.history .history_detail .history_detail-header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.history .history_detail .history_detail-header span:first-child {
  font-weight: 700;
}

.history .history_detail .history_detail-header span:last-child {
  color: #B4B4B4;
}

.history .history_detail .history_detail-list {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.history .history_detail .history_detail-list li {
  margin-top: 8px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
}

.history .history_detail .history_detail-list li span:last-child {
  font-weight: 300;
}


/* EXPENSE */

.expense {
  width: 375px;
  height: 76px;
  position: absolute;
  background-color: #fff;
  font-size: 18px;
  color: #444;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
  transition: all .3s ease-out;
}

.expense.up {
  display: block;
  height: 756px;
  transition: all .3s ease-out;
}

.expense::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.expense .chart {
  overflow-y: scroll;
  height: 623px;
  width: 375px;
  margin: 98px 0 0 29px;
  font-weight: 500;
  color: #444;
}

.expense .chart::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.expense .expense_range {

}

.expense .expense_range .expense_range-label {
  display: flex;
  align-items: center;
}

.expense .expense_range .expense_range-label > div {

}

.expense .expense_range .expense_range-label > strong {
  color: #FF5F00;
  font-size: 24px;
  margin-left: 78px;
}

.expense .expense_range input {
  width: 308px;
  height: 9.18px;
  margin-top: 36px;
}

.expense .expense_range input::-webkit-slider-thumb {
  width: 8px;
  height: 28px;
  border: 2px solid #EEEBE5;
  box-sizing: content-box;
}

.expense .chart .expense_report {
  margin-top: 59px;
}

.expense .chart .expense_report .canvas-wrapper.daily {
  margin-top: 17px;
  overflow-x: scroll;
}

.expense .chart .expense_report .canvas-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.expense .chart .expense_report #dailyChart {

}

.expense .chart .expense_pattern {
  margin-top: 46px;
}

.expense .chart .expense_pattern .canvas-wrapper.pattern {
  margin-top: 18px;
  width: 308px;
  /* temp */
  position: relative;
}

.expense .chart .expense_pattern .canvas-wrapper.pattern::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.expense .chart .expense_pattern .canvas-wrapper.pattern > p {
  font-size: 24px;
  font-weight: 500;
  /* temp */
  position: absolute;
  top: 135px;
  left: 85px;
}

.expense .chart .expense_pattern .expense_pattern-list {
  font-weight: 400;
}

.expense .chart .expense_pattern .expense_pattern-list > li {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.expense .chart .expense_pattern .expense_pattern-list > li > strong {

}

.expense .chart .expense_pattern .expense_pattern-list > li > p {
  color: #858585;
}

.expense .chart .expense_pattern .expense_pattern-list::after {
  content: ' ';
  display: block;
  height: 76px;
}

/* TRANSFER */

.transfer {
  display: none;
  width: 375px;
  height: 692px;
  background-color: royalblue;
  position: absolute;
  /* padding-top: 61px; */
}


/* NAVIGATION */

nav {
  background: linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%);
  width: 375px;
  height: 76px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

nav > ul {
  width: 375px;
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 42px;
}

nav > ul > li {

}